@import "Login-SignUp.css";
@import "Navigation.css";
@import "Question.css";
@import "~@flaticon/flaticon-uicons/css/all/all"; /*ICONS*/

*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  /*background-image: linear-gradient(to right bottom, #8717a6, #7e18ae, #741ab6, #661ebe, #5422c6);*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

