nav{
    font-size: 1.2em;
    display: flex;
    height: 40px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav a{
    color: #fff;
    text-decoration: none;
}

nav a:hover{
    color: #4c00b4;
}